main {
    width: 80%;
    margin: auto;
    background-color: rgba(0,0,0,0.8);
    display: flex;
}

.box {
    margin: 0 1em;
    display: flex;
    flex-direction: column;
}

.box:nth-child(1) {
    width: 25%;
    align-items: center;
}

.box:nth-child(2) {
    width: 75%;
}

#image-of-me {
    background-image: url(../images/me.png);
    height: 100px;
    width: 100px;
    background-size: cover;
}