:root {
    --main-color: #282829;
    --sec-color: #888;
    --tert-color: #e7e7e7;
    --dark-color: #0f0f0f;
    --acc-color: #ff2929;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

/* core elements */

body {
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    font-family: 'Inter', sans-serif;
    color: var(--tert-color);
}

header {
    text-align: center;
    background-color: var(--dark-color);
    padding: 2em 0 1em;
}

header a {
    text-decoration: none;
    color: var(--tert-color);
    text-shadow: 0 0 5px;
    transition: 1s;
}

header a:hover {
    text-shadow: 0 0 15px;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--dark-color);
    width: 100vw;
    text-align: center;
    color: var(--sec-color);
}